@charset "ISO-8859-1";
/*
define colors 
*/
:root { 
	--main-color: rgba(56, 71, 87, 1); 
	--main-hover: rgba(56, 71, 87, 0.7); 
	--second-color: rgba(75, 93, 115, 1);
	--second-color-select: rgba(60, 74, 93, 1);
	--scrollbar-holder-color:grey;
	--scrollbar-color: rgba(75,93,115,0.4);
	--scrollbar-hover:rgba(80, 95, 130, 1);
	--placeholder-text-color: rgba(75, 93, 115, 0.5);
	--placeholder-text-color: rgba(75, 93, 115, 0.5);
	--error-color:	rgba(251, 78, 78, 0.4);
	--focus-color:	rgba(251, 78, 78, 0.2)
}

/*
body is as big as the screen if size is not < 200px * 200px
*/
body {
	margin: 0;
	width: 100%;
	background-color: var(--main-color);
	text-align: center;
	height: 100vh;
	min-height: 200px;
	min-width:200px;
}

/*
background is fixed
*/
#background {
	position: absolute;
	top: 5vh;
	left: 5vw;
	width: 90vw;
	height: 90vh;
	opacity: 0.6;
	background-image: url("../icone/logo.png");
	background-repeat: no-repeat;
	background-repeat: round;
}

/*
flexboxes
*/
#additionalFunctions, #login, #registrationAuthority,
	#registrationMunicipality, #suggestions, #registrationManager,#modifyAccount {
	background: var(--second-color);;
	position: absolute;
	top: 15vh;
	left: 15vw;
	height: 70vh;
	width: 70vw;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: min(2vh, 2vw);
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	flex: 1 1 0;
	text-align: center;
	align-items: center;
}



/*
new line if text is too long
*/
input {
	white-space: normal;
}

/*
	button and submit modifiers
*/
body>div input[type=button],body>div input[type=submit],body>div input[type=number],body>div input[type=mail]{
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: min(1vh, 1vw);
	background-color: var(--main-color);
	font-size: min(3vh, 3vw);
	align-self: center;
}

#reportDiv form
{
	position: relative;
	margin: auto;
	width:80%;
}
#reportDiv form input[type="submit"] {
    width: 100%;
    bottom: 1vh;
    position: relative;
}
#reportDiv form input{
    width: 100%;
    position: relative;
    background: var(--second-color) !important;
}
input[type=file]
{
	display:none;
}
/*
 top left buttons modifiers
*/
.toLogin,.toAdditionalFunctions,.toHome,#closeLongDescription{
	position: absolute;
	border: 0.5px solid #000000 !important;
	border-radius: min(1.7vh, 1.7vw) !important;
	left: -0.05vw;
	top: -0.05vh;
	background-color: var(--main-color) !important;
}
/*
box-shadows and transition
*/
input[type=button],button,input[type=submit]
{
	 cursor: pointer; 	 
	-webkit-box-shadow: min(0.5vh,0.5vw) min(0.5vh,0.5vw) min(0.5vh,0.5vw) 0 rgba(0,0,0,0.7) ; 
	  
	-moz-box-shadow:  min(0.5vh,0.5vw) min(0.5vh,0.5vw) min(0.5vh,0.5vw) 0 rgba(0,0,0,0.7) ; 
	
	box-shadow:  min(0.5vh,0.5vw) min(0.5vh,0.5vw) min(0.5vh,0.5vw) 0 rgba(0,0,0,0.7) ;
	 
	-webkit-transition: background-color 500ms,font-size 250ms cubic-bezier(0.05, 0.35, 0.4, 0.91);
	 
	-moz-transition: background-color 500ms,font-size 250ms cubic-bezier(0.05, 0.35, 0.4, 0.91);
	 
	-o-transition: background-color 500ms,font-size 250ms cubic-bezier(0.05, 0.35, 0.4, 0.91);
	 
	transition: background-color 500ms,font-size 250ms cubic-bezier(0.05, 0.35, 0.4, 0.91);	
}

input[type=submit]
{
	width:30vw;
}

/*
hober and focus modifiers
*/
input[type=button]:hover,button:hover,input[type=button]:focus,button:focus {
	background-color: var(--main-hover) !important;
	font-size: min(4.5vh, 4.5vw) !important;
}
input[type=submit]:hover,input[type=submit]:focus
{
	background-color: var(--main-hover) !important;
}
/*
leaflet map container
*/
#map {
	position: absolute;
	top: 15vh;
	left: 6vw;
	height: 70vh;
	width: 50vw;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: min(2vh, 2vw);
}
/*
homepage style
*/
#home {
	position: absolute;
	background: var(--second-color);
	margin-top: 5vh;
	margin-left: 5vw;
	height: 90vh;
	width: 90vw;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: min(2vh, 2vw);
}

/*
Title of pages and subpages
*/
h1 {
	position: absolute;
	top:0vh;
	margin: 0px;
	padding: 0px;
	width: 100%;
	font-size: min(14vh, 14vw);
}
h2 {
	position: absolute;
	top:0vh;
	margin: 0px;
	padding: 0px;
	width: 100%;
	font-size: min(5vh, 5vw);
}
h3 {
	top:0vh;
	margin: auto;
	padding: 0px;
	width: 50%;
	font-size: min(3.5vh, 3.5vw);
}

#statisticsPresenter {
	position: absolute;
	top: 15vh;
	left: 58vw;
	height: 70vh;
	width: 30vw;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: min(2vh, 2vw);
	justify-content: space-evenly;
	flex-direction: column;
	flex: 1 1 0;
	text-align: center;
	align-items: center;
}
.suggestionHolder{
	position: absolute;
	top: 10vh;
	height: 50vh;
	width: 50vw;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: min(2vh, 2vw);
}
.autoOverflow
{
	overflow: auto;
}
li {
    padding:0px;
    border:0px;
    text-align:left;
    width:90%;
}
ol,ul
{
	height:100%;
}

body>div>div {
	background-color: var(--main-color);
}
#additionalFunctions>input {
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: min(1vh, 1vw);
	background-color: var(--main-color);
	margin-top: 4vh;
	height: 10vh;
	width: 30vw;
	font-size: min(3vh, 3vw);
}
form>div>input,form>div>div>input,#reportDiv>form>input
{
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: min(1vh, 1vw);
	background-color: var(--main-color);
	font-size: min(3vh, 3vw);
	text-align: center;
}



.column
{
	display: flex;
	flex-direction:column;
	flex-basis:100%;
	justify-content: center;
	flex:1;
}

.row
{
	display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
    background:var(--main-color);
    margin: 0;
    padding: 0;
    border: 0.2px solid rgba(0,0,0,0.4);
	box-sizing: border-box;
	border-radius: min(2vh, 2vw);
}
.row>h3
{
	margin: auto;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: min(2vh, 2vw);
	display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
    width:50%;
    background: var(--second-color);
}

.row>h3.selected
{
	background: var(--second-color-select);
}

.doubleColumn
{
	display: flex;
	flex-direction:column;
	flex-basis:50%;
}

::-webkit-input-placeholder { /* Edge */
  color: var(--placeholder-text-color);
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--placeholder-text-color);
}

:-moz-input-placeholder { /* Mozilla */
  color: var(--placeholder-text-color);
}

::placeholder {
  color: var(--placeholder-text-color);
}
.error
{
	border: 1px solid var(--error-color);
}
:focus
{
	border: 1px solid var(--focus-color);
	outline: 0px;
}

button:active,input:active,input:focus
{
	outline:0;
	
	-webkit-box-shadow: min(0.5vh,0.5vw) min(0.5vh,0.5vw) min(0.5vh,0.5vw) 0 rgba(0,0,0,0.7) inset; 
	  
	-moz-box-shadow:  min(0.5vh,0.5vw) min(0.5vh,0.5vw) min(0.5vh,0.5vw) 0 rgba(0,0,0,0.7) inset ; 
	
	box-shadow:  min(0.5vh,0.5vw) min(0.5vh,0.5vw) min(0.5vh,0.5vw) 0 rgba(0,0,0,0.7) inset;	
}
::-webkit-scrollbar {
  width: min(4vw,4vh);
}

/* Track */
::-webkit-scrollbar-track
{
  box-shadow: inset 0 0 5px var(--scrollbar-holder-color); 
  border-radius: min(2vw,2vh);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color); 
  border-radius: min(2vw,2vh);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover); 
}
    
/* TODO if needed change Handle leaflet marker focus */
.leaflet-marker-pane>img:focus {
    border: 0px;
}